.listCard {
  height: 80%;
  width: 50%;
  margin: 0;
  padding: 20px;

  border: 5px solid red;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(255,255,255, 0.5);
  color: blue;
  font-size: 1.5rem;
}

.repList {
  height: 80%;
  width: 75%;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  border: none;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255,255,255, 0.5);
  color: blue;
  font-size: 1rem
}

.repList::-webkit-scrollbar { width: 0 !important }
