.repContainer {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 10px 10%;


  height: 560px;
  /* max-height: 500px; */
  /* overflow: hidden; */
  transition-duration: 350ms;
  transition-property: height;
  transition-timing-function: ease-out;
  border: 2px blue solid;
}

.expanded {
  height: 200px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.repName:hover {
  cursor: pointer
}