.repContainer {
  display: flex;
  flex-direction: column;

  height: 60px;
  width: 90%;
  margin: 10px 10%;

  border: 2px blue solid;
}

.expanded {
  height: 260px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.repName:hover {
  cursor: pointer
}