.repContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px 10%;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px red solid;
}